.home_container h1{
	text-align:center;
	color: red;
	
}
.addition_container h1{
	color:green;
}


.multiply_container h1{
	color:yellow;
}

.division_container h1{
	color:blue;
}

.subtract_container h1{
	color:red;
}
