.home_container h1{
	text-align:center;
	color: red;
	
}

.addition_container h1{
	text-aline:center;
	color:green;
}

.addition_container p{
	text-align:center;
}

.addition_container form-control{
	
}